# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/launch.json
.vscode/launch.json
.vscode/extensions.json
.vscode/c_cpp_properties.json
.pio/build/project.checksum
.pio/build/micro/.sconsign39.dblite
.pio/build/micro/.sconsign311.dblite
.pio/build/micro/firmware.elf
.pio/*
